@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.container1{
  background: linear-gradient(45deg, rgb(247, 6, 138), #ff0) ;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container2{
  width: 900px;
  height: 100%;
  display: flex;
  align-items: center;
}

.container2 h1{
  font-size: 40px;
  font-family: 'Pacifico', cursive;
  color: #f8e16c;
}

@media (max-width: 767px)
{

    .container1{
      height: 100px;
    }
   .container2{
     justify-content: center;
   }

   .container2 h1{
    font-size: 25px;
   }
}

.container3{
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container4{
  width: 1000px;
  height: 100%;
  background-color: #ff0;
  display: flex;
  align-items: center;
}

.btn{
  border-radius: 20px;
  margin: 10px;
}
