<div class="container1 ">
  <div class="container2">
    <h1>Embalagens</h1>
  </div>
</div>

<div class="container3">
  <div class="container4">
    <strong>Ordenar: </strong>
    <div class="">
      <button class="btn btn-outline-dark  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        Large button
      </button>
      <ul class="dropdown-menu">
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
        <li>aaaa</li>
      </ul>
    </div>
  </div>
</div>
